@import '../../styles/global.scss';

.button {
    position: fixed;
    bottom: 84px;
    right: 24px;
    padding: 16px;
    background: $colour-primary;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.canvasDiv {
    position: absolute;
    width: 100%;
    max-width: 400px;
    background: $colour-lightPink url('../../public/images/bg-14.png') repeat;
    padding: 24px;
    // z-index: -1;

    .shareP {
        color: $colour-primary;
        text-align: center;
        margin-bottom: 0;
    }
}

.hide {
    display: none;
}

.logo {
    width: 100% !important;
    height: 100% !important;
    min-width: none;
    min-height: none;
    margin: 0;
  }

.smallLogoContainer {
    width: 100%;
    max-width: 300px;
    margin: auto;
}

.logoReplacement {
    color: $colour-primary;
    font-size: 32px;
    margin: auto;
    margin-bottom: 24px;

    .solid {
        font-family: $font-solid;
    }

    .outline {
        font-family: $font-outline;
    }
}
