@import '../../styles/global.scss';

.button {
    width: 100%;
    height: 64px;
    padding: 16px;
    font-size: 32px;
    line-height: 32px;
    font-family: $font-solid;
    letter-spacing: 0.3px;
    color: white;
    background: $colour-primary;
    border: none;
    cursor: pointer;
}
