// Colours

$colour-primary: #ec1c24;
$colour-secondary: #ff40c7;

// main background

$background: #FFEBF9 url('../public/images/bg-14.png') repeat;

// Fonts

@font-face {
	font-family: 'FlatfaceGrosy-Regular';
	src: url('../asset/FlatFaceGrossy/flatface-grosy-regular.eot');
	src: url('../asset/FlatFaceGrossy/flatface-grosy-regular.eot?#iefix') format('embedded-opentype'),
             url('../asset/FlatFaceGrossy/flatface-grosy-regular.woff2') format('woff2'),
	     url('../asset/FlatFaceGrossy/flatface-grosy-regular.woff') format('woff'),
	     url('../asset/FlatFaceGrossy/flatface-grosy-regular.ttf') format('truetype'),
	     url('../asset/FlatFaceGrossy/flatface-grosy-regular.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FlatfaceGrosy-Outline';
	src: url('../asset/FlatFaceGrossy/flatface-grosy-outline.eot');
	src: url('../asset/FlatFaceGrossy/flatface-grosy-outline.eot?#iefix') format('embedded-opentype'),
             url('../asset/FlatFaceGrossy/flatface-grosy-outline.woff2') format('woff2'),
	     url('../asset/FlatFaceGrossy/flatface-grosy-outline.woff') format('woff'),
	     url('../asset/FlatFaceGrossy/flatface-grosy-outline.ttf') format('truetype'),
	     url('../asset/FlatFaceGrossy/flatface-grosy-outline.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}
