@import '../../styles/global.scss';

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 32px;
}

.row {
    display: flex;
    width: 100%;
    max-width: 600px;
}

.prefContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    //margin-bottom: 16px;
}

.wrapRow {
    flex-wrap: wrap;
}

.halfWidth {
    width: 50%;
}

.fullWidth {
    width: 100%;
}

.logoContainer {
    width: 100%;
    height: auto;
    max-width: 300px;
    max-height: 300px;
    margin-bottom: 24px;
  }

  .logo {
    // position: relative !important;
    width: 100% !important;
    height: 100% !important;
    min-width: none;
    min-height: none;
    margin: 0;
  }

  .smallLogoContainer {
      position: absolute;
      width: 100%;
      max-width: 300px;
      top: 16px;
  }

  .headline {
      font-family: $font-solid;
      color: $colour-primary;
      font-size: 32px;
  }

  .smallHeadline {
      color: $colour-primary;
      font-size: 24px;
  }

  .buttonsContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 24px;
  }

  .button {
      width: 100%;
      margin-bottom: 24px;
  }

  .promptValues {
      width: 100%;
  }

  .shuffleButton {
      background: none;
      border: none;
      cursor: pointer;
      margin-top: 16px;
      margin-bottom: 16px;
  }

  // menu button

  .menuButtonContainer {
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 64px;
  }

  .buttonHalfWidth {
      min-width: 0 !important; 
      width: 50% !important;
      background: $colour-lightPink !important;
      padding: 8px 12px !important;
  }

  .buttonMultiple {
      width: calc(50% - 24px) !important;
      margin: 0 12px 20px;
  }

  .seasons {
    padding: 0 12px;
  }

  .generateText {
      font-family: $font-solid;
      color: $colour-primary;
      font-size: 24px;
      margin-right: 12px;
  }

  .generateButton {
      display: flex;
      align-items: center;
  }

  .buttonSelected {
      color: white !important;
      background: $colour-primary !important;
  }

  .buttonLeft {
      border-right: 2px solid $colour-lightPink;
  }
